# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
*.env
*.env.*
*.venv
env/
venv/
.venv/
*.json 
airflow/
dags/*
!dags/
!dags/dag_stream.py
logs/*
!logs/
plugins*
!plugins/